{% extends 'analog/main.html' %}
{% load static %}
{% block content %}
<div class="container" >
    <div class="form_container" style="background: linear-gradient(to right bottom,rgb(96, 13, 50),rgb(54, 0, 33));">
        <form method="post" id="order_form">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
            <div style="display: flex;flex-direction: row; width: 600px;justify-content: space-around;">
                {{ form }}
            </div>
            <hr>
            {% endfor %}
            
            <input type="submit" name="submit" id="submit_btn" style="position: absolute;bottom: 0px;left: 0;height: 35px;width: 100%;
            background-color: rgba(0, 0, 0, 0.293);border: none;outline: none; font-family: 'Akaya Kanadaka', cursive; font-size: 20px;color: rgba(0, 208, 42, 0.585);">

        </form>
    </div>
</div>
{% endblock %}
