
		#logo{
		}

		body{

			
		}


		#total-orders{
			background-color: #4cb4c7;
		}


		#orders-delivered{
			background-color: #7abecc;
		}

		#orders-pending{
			background-color: #7CD1C0;
		}
		#out{

			background-color: #6d6d94;
		}
		table{
			border-radius: 3px;
		}
		tr:nth-child(1){
			background-color: #6d6d94;
		}